*{
padding: 0;
margin: 0;
 
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.navbar img{
    width: 100px;
    border-radius: 50%;
}


.navbar ul li {
  
    font-size: 18px;
    font-weight: bold;
 
} 
.navbar ul li a:hover{
color: #07A097;
} 
#first{

    background-color: #07A097;
     overflow-x: hidden;
   
}
 #first .container {
    padding-top: 100px;
    
 }


 #first .container img{
 width: 250px;
 height: 250px;
 margin-left: 220px;
 margin-top: 150px;
 border-radius: 60%;
 margin-bottom: 220px;
 }
#first .container p{
    text-align: left;
    padding-top: 150px;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    padding-left: 70px;
    font-size: 30px;
    font-weight: normal; 
}
#first .container p span{
   font-size: 40px;
    color: white;
    font-weight: bold;
}
#seconde{
    background-color: #F9F8F9;
  overflow-x: hidden;
margin-top: 60px;
}
#seconde .container{
    padding: 100px;
}
#seconde .container h3{
font-size: 40px;
color: #07A097;
}
#seconde .container p{
    padding: 20px 0;
    font-size: 20px;
    font-weight: normal;
  line-height: 40px;
  color: #504343;
}
#seconde div img {
    width: 250px;
     border-radius: 60%;

    height: 250px;
     margin-left: 200px;

   
    
}
#thrid {
     overflow-x: hidden;
    background-color: #F9F8F9;
    margin-top: 60px;
    text-align: center;

}
#thrid h3{
    padding-top: 60px;
    color: #07A097;
    font-size: 45px;
    padding-bottom: 50px;
}

#thrid img{
    width: 80%;
 
  
}

#Five{
     overflow-x: hidden;
 margin-top: 150px;
    background-color: #07A097;

}

#Five .container h1{
    padding-top: 40px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
#Five .container p{
    padding-top: 20px;
    color: white;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-shadow: #07A097 2px;
}
#Five .container input{
   
    margin-top: 20px;
    padding: 5px;
    border-radius: 0px;
    border-color: #07A097;
    margin-bottom: 40px;
}

#Five .container ul {
padding-right: 300px;
text-align: center;
list-style: none;
font-size: 20px;
padding-top: 70px;

}
#Five .container ul a{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
}
#Five .container ul li a:hover{
    color: black;
 font-size: 30px;
} 
#Five .container ul li h3{
    font-weight: normal;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;

}
#Five .container ul li h3:hover{
 color: red;

}



