*{
padding: 0;
margin: 0;
 
}
.navbar{
    padding: 5px 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}
.navbar img{
    width: 70px;
    border-radius: 50%;
}


.navbar ul li {
  
    font-size: 18px;
    font-weight: bold;
 
} 
.navbar ul li a:hover{
color: #383738;
} 
#first{

    background-color: #07A097;
     overflow-x: hidden;
   
}
 #first .container {
    padding-top: 100px;
 }


 #first .container img{
 width: 250px;
 height: 250px;
 margin-left: 220px;
 margin-top: 150px;
 border-radius: 60%;
 margin-bottom: 220px;
 }
#first .container p{
    text-align: left;
    padding-top: 150px;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    padding-left: 70px;
    font-size: 30px;
    font-weight: normal; 
}
#first .container p span{
   font-size: 35px;
    color: black;
    font-weight: bold;
}
#first button{
    text-align: center;
        margin-left: 70px;
        padding: 10px 18px;
        color: #07A097;
        border-radius: 50px;
        border: solid 4px #07A097;
        font-weight: bold;
}
#first button:hover{
   
        color: #F9F8F9;
        border-radius: 50px;
        border: solid 4px #F9F8F9;
        font-weight: bold;
        background-color: #07A097;
}
@media (max-width: 991.19px) {
    #first .container p{
    padding-left: 0px;
    font-size: 25px;
}
#first .container p span{
   font-size: 30px;
   
}
#first button{
       margin-left: 0;
        padding: 8px 15px;
    
}
 #first .container img{
 width: 220px;
 height: 220px;
 margin-left: 180px;
 }
}
@media (max-width: 858.68px) {
     #first .container img{
 margin-left: 140px;
 }
}
@media (max-width: 768.14px) {
     #first .container img{
 margin-left: 120px;
 }
}
@media (max-width: 767.43px) {
     #first .container img{
  width: 200px;
 height: 200px;
 text-align: center;
 margin: 0 0 20px 0;
 }
}
#seconde{
    background-color: #F9F8F9;
  overflow-x: hidden;
margin-top: 60px;
}
#seconde .container{
    padding: 100px;
}
#seconde .container h3{
font-size: 40px;
color: #07A097;
}
#seconde .container p{
    padding: 20px 0;
    font-size: 20px;
    font-weight: normal;
  line-height: 40px;
  color: #504343;
}
#seconde div img {
    width: 250px;
     border-radius: 60%;
margin-top: 40px;
    height: 250px;
     margin-left: 200px;
     border: solid 3px white;

   
    
}
@media (max-width: 991.19px) {
 #seconde .container{
    padding: 0px;
}
#seconde .container h3{
margin-top: 20px;
}
}
@media (max-width: 964.42px) {
#seconde div img {
     margin-left: 160px;
     margin-top: 50px;
 
}
}
@media (max-width: 862.42px) {
#seconde div img {
     margin-left: 130px; 
     margin-top: 60px;

}
}
@media (max-width: 814.16px) {
    #seconde div img {
     margin-left: 110px; 
     margin-top: 70px;

}
}
@media (max-width: 767.43px) {
        #seconde div img {
     margin: 0 0 20px 0;
    }

}
@media (max-width: 585.89px) {
    #seconde .container h3{
margin-left: 20px;
}
#seconde .container p{
margin-left: 20px;
}
#seconde div img{
margin-left: 20px;
}
}



#third {
     overflow-x: hidden;
    background-color: #F9F8F9;
    margin-top: 60px;
  text-align: left;

  

}
#third .card {
  min-height: 550px;      
      margin-bottom: 25px;

}

#third h3{
    padding-top: 60px;
    color: #07A097;
    font-size: 45px;
    padding-bottom: 50px;
    text-align: center;
}

#third p{
  color: #504343; 
  text-align: left;
 
  
}
#third button{
   
        padding: 13px 10px;
        color: white;
        border-radius: 20px;
        border: solid 4px;
        font-weight: bold;
        font-size: 10px;
        background-color: #07A097;
            margin-top: 157px;

}
#third button.bt1{
    margin-top: 170px;
}
#third button.btn0{
    margin-top: 127px;
}
#third button.bt2{
    margin-top: 157px;
}
#third button:hover{
   
        color: #F9F8F9;
        border-radius: 50px;
        border: solid 4px #07A097;
        font-weight: bold;
        background-color: white;
        color: #07A097;
}
@media (max-width: 1109.38px) {
#third button.btn0{
    margin-top: 110px;
}
}




#five {
     overflow-x: hidden;
    background-color: #F9F8F9;
    margin-top: 60px;
  text-align: left;
    margin-bottom: 25px;

  

}
#five.card {
  min-height: 550px; 
      margin-bottom: 25px;

}

#five h3{
    padding-top: 60px;
    color: #07A097;
    font-size: 45px;
    padding-bottom: 50px;
    text-align: center;
}

#five p{
  color: #504343; 
  text-align: left;
 
  
}
#five button{
   
        padding: 13px 18px;
        color: white;
        border-radius: 20px;
        border: solid 4px;
        font-weight: bold;
        font-size: 10px;
        background-color: #07A097;
}
#five img{
    height: 200px;
}
#five button:hover{
   
        color: #F9F8F9;
        border-radius: 50px;
        border: solid 4px #07A097;
        font-weight: bold;
        background-color: white;
        color: #07A097;
}
@media (max-width: 1109.38px) {
#five .btn2{
    margin-top: 25px;
}
}


#six{
     overflow-x: hidden;
 margin-top: 150px;
    background-color: #07A097;

}

#six .container h1{
    padding-top: 40px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
#six .container p{
    padding-top: 20px;
    color: white;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-shadow: #07A097 2px;
}
#six .container input{
   
    margin-top: 20px;
    padding: 5px;
    border-radius: 0px;
    border-color: #07A097;
    margin-bottom: 40px;
}

#six .container ul {
padding-right: 300px;
text-align: center;
list-style: none;
font-size: 20px;
padding-top: 70px;

}
#six .container ul a{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
}
 
#six .container ul li h3{
    font-weight: normal;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;

}
@media (max-width: 1109.38px) {
    #six .container ul li h3{
    font-size: 15px;

}
    #six .container ul {
padding-left: 250px;}
}
@media (max-width: 991.19px) {
    #six .container ul {
padding-left: 200px;
}
#six .container h1{
    padding-top: 70px;
    
}

}
@media (max-width: 768.43px) {
    #six .container ul {
padding:  0;
margin-left: -430px;
}

}
@media (max-width: 585.89px) {
      #six .container ul {
       margin-right: -100px;
      }
}
@media (max-width: 468.67px) {
         #six .container ul {
       margin-right: -300px;
      }
}
@media (max-width: 301.59px) {
    #six .container input{
   
    
    padding: 2px;
  
}
#six .container h1{
font-size: 30px;    
}
}



